#roloc {
	color: orange;
}

h1 {
	font-size: 40px;
}

#dingheads {
	text-transform: uppercase;
}

.name {
	background-color: indigo;
}

li[data-tools] {
	border: 1px solid black;
}

div + ol{
	list-style-type: none
}

div img{
	border-radius: 50%;
}


~p{
	text-align: center;
}

#wews {
	letter-spacing: 5px;
}
